.App {
  text-align: center;
}

.incStrokeWidthBtn{
  position: absolute;
  right:0px;
  outline: none;

}
.decStrokeWidthBtn{
  position: absolute;
  left:0px;
  outline: none;
}
.pStyle{
  margin: 4px;
}
.incCornerRadiusTLBtn{
  position: absolute;
  left: 0px;
  bottom:0px
}
.decCornerRadiusTLBtn{
  position: absolute;
  right: 0px;
  bottom:0px;
}
.incCornerRadiusTRBtn{
  position: absolute;
  left: 0px;
  bottom:0px;
}
.decCornerRadiusTRBtn{
  position: absolute;
  right: 0px;
  bottom:0px;
}
.incFillOpacityBtn{
  position: absolute;
  right:0px
}
.decFillOpacityBtn{
position: absolute;
left:0px
}
